:root {
  --primary-color: #ff963c;
  --secondary-color: #ffcc21;
  --main-dark-color: #414141;
  --secondary-dark-color: #2e2e2e;
  --white-color: #fff;
}

@font-face {
  font-family: "Noto Sans JP";
  src: url("/assets/fonts/Noto_Sans_JP/NotoSansJP-Thin.otf") format("opentype");
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/static/Inter-Thin.ttf");
}

body {
  font-family: "Noto Sans JP", "Inter", sans-serif;
}
